body {
    margin: 0;
    padding: 0;
    background:#efefef url(img/gray_jean.png);
}

#header {
    margin: 0;
    text-align: center;
}

#header h1 {
    font-size: 2em;
}

#gallery_list {
    margin: 0;
    list-style-type: none;
}

.post {
    width: 300px;
    padding: 10px;
}

.post h2 {
    font-size: 1.2em;
    margin: 0;
}

.post time {
    display: block;
    font-size: 0.7em;
    text-align: right;
    color: #808080;
    padding-right: 1em;
}

.post img {
    width: 270px;
    display: block;
    margin: 0 auto;
}

#canvas_wrap {
    position: relative;
    margin: 10px auto;
    width: 500px;
    height: 400px;
}

#canvas_wrap canvas {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#color_picker {
    width: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

input[type=range]{
    -webkit-appearance: none;
    margin-top: -2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    pointer: cursor;
    background: goldenrod;
    margin-top: -6px;
    border-radius: 50%;
}

